@charset "UTF-8";
/* CSS Document */
body { 
background-color:#e0adff;
font-family:Helvetica;
}

h1 {
font-size:50px;
font-family:Helvetica;
color: darkred;
text-align: center;
}

h2 {
font-size:30px;
color:darkslateblue;
font-family:Helvetica;
text-align: center;
}

.image1 {
max-width: 20%;
height: 425px;
grid-column-gap: 20px;
align: center;
}

.boite1 {
background-color: #e0adff;
align-content: center;
width: 100%;
}

.portrait {
max-width: 45%;
height: 442px;
}

.portrait2 {
max-width: 35%;
height: 442px;
} 

.araignée {
max-width: 55%;
height: 442px;
}

.image2 {
max-width: 100%;
align : center;
}

.boite2 {
height: 402px; 
max-width: 1500px;
background-color:#e0adff;	
}

.sculpture1 {
max-width: 462px;
height: auto;
grid-column-gap: 20px;
}

.sculpture2 {
max-width: auto;
height: 402px;
grid-column-gap: 20px;
}

.sculpture3 {
max-width: 550px;
height: 402px;
}

p2 {
font-size: 15px;
font-family: Helvetica;
text-align: center;
}

p3 {
font-size: 10px;
font-family: Helvetica;
text-align: justify;
color: darkred; 
}

.boite3 {
height: 405px; 
max-width: 1500px;
background-color:#e0adff;	
}

.araign1 {
height: 405px;
width: 37%;
}

.araign2 {
height: 405px;
width: 22%;
}

.araign3 {
height: 405px;
width: 40%;
}